In [182]:
%matplotlib widget

In [183]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

df =  pd.read_csv('dataset.csv')
df.sort_values(by = 'Date', inplace=True)
df.reset_index(inplace=True)
df.drop(labels = 'index',axis =1, inplace=True)
df['Data_Value']= df['Data_Value'].apply(lambda x:  x/10)
df.head()

            ID        Date Element  Data_Value
0  USW00004848  2005-01-01    TMIN         0.0
1  USC00207320  2005-01-01    TMAX        15.0
2  USC00207320  2005-01-01    TMIN        -1.1
3  USW00014833  2005-01-01    TMIN        -4.4
4  USW00014833  2005-01-01    TMAX         3.3

In [184]:
df_min = df[df['Element'] == 'TMIN']
df_min.drop(labels = 'Element', inplace=True, axis= 1)
df_min = df_min.groupby('Date').agg(min)
df_min.shape

(4017, 2)

In [185]:
df_max = df[df['Element'] == 'TMAX']
df_max.drop(labels = 'Element', inplace=True, axis=1)
df_max = df_max.groupby('Date').agg(max)
df_max.shape

(4017, 2)

In [186]:
df_max = df_max.merge(df_min, how = 'inner', left_index=True, right_index=True)
df_max.head()

                   ID_x  Data_Value_x         ID_y  Data_Value_y
Date
2005-01-01  USW00094889          15.6  USC00200032          -5.6
2005-01-02  USW00094889          13.9  USC00200032          -5.6
2005-01-03  USW00094889          13.3  USC00200032           0.0
2005-01-04  USW00094889           3.9  USC00200032          -3.9
2005-01-05  USW00094889           3.3  USC00200032          -9.4

In [187]:
df_max.drop(labels=['ID_x','ID_y'], inplace=True, axis=1)
labels = ['T_max','T_min']
df_max.columns = labels

In [188]:
# make the index as datetime format
df_max.index = pd.to_datetime(df_max.index)

In [189]:
df_lineplot=df_max.loc[:'2014'] #filters out everything after 2014

In [190]:
plt.figure()
plt.plot(df_max['T_max'],'-',linewidth=.2,alpha=0.7,color='#f24a30')
plt.plot(df_max['T_min'],'-', linewidth=.2,alpha=.7, color='#153ceb')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [191]:
plt.gca().fill_between(df_max.index,df_max['T_min'],df_max['T_max'],alpha =.2,color = '#ff4a7a')
#specify x-axis (index in this case), and the two curves