In [410]:
%matplotlib widget

In [411]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

df =  pd.read_csv('dataset.csv')
df.sort_values(by = 'Date', inplace=True)
df.reset_index(inplace=True)
df.drop(labels = 'index',axis =1, inplace=True)
df['Data_Value']= df['Data_Value'].apply(lambda x:  x/10)

In [412]:
df_min = df[df['Element'] == 'TMIN']
df_min.drop(labels = 'Element', inplace=True, axis= 1)
df_min = df_min.groupby('Date').agg(min)

In [413]:
df_max = df[df['Element'] == 'TMAX']
df_max.drop(labels = 'Element', inplace=True, axis=1)
df_max = df_max.groupby('Date').agg(max)

In [414]:
df_max = df_max.merge(df_min, how = 'inner', left_index=True, right_index=True)

In [415]:
df_max.drop(labels=['ID_x','ID_y'], inplace=True, axis=1)
labels = ['T_max','T_min']
df_max.columns = labels

In [416]:
# make the index as datetime format
df_max.index = pd.to_datetime(df_max.index) 
df_max.head()

            T_max  T_min
Date
2005-01-01   15.6   -5.6
2005-01-02   13.9   -5.6
2005-01-03   13.3    0.0
2005-01-04    3.9   -3.9
2005-01-05    3.3   -9.4

In [417]:
df_lineplot=df_max.loc['2005':'2014'] #filters out everything after 2014
df_lineplot = df_lineplot.loc[~((df_lineplot.index.month == 2) & (df_lineplot.index.day == 29))] ##remove leap

In [418]:
df_lineplot.index = df_lineplot.index.map(lambda t: t.replace(year=1999))
df = df_lineplot
df['date']=pd.to_datetime(df.index)
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['day']=df['date'].dt.day
df_grouped=df.pivot_table(index=('month','day'),values=['T_max','T_min'],aggfunc=['max','min'])
df_grouped

            max         min
          T_max T_min T_max T_min
month day
1     1    15.6  -2.2  -5.6 -16.0
      2    13.9  -1.1  -6.6 -26.7
      3    13.3   0.0  -6.7 -26.7
      4    10.6   1.7  -3.2 -26.1
      5    12.8   1.7  -1.7 -15.0
...         ...   ...   ...   ...
12    27   18.9  -2.2   0.0 -13.8
      28   19.4  -2.8   0.0 -16.6
      29   12.8  -1.1  -0.6 -15.0
      30   11.7  -1.1   0.0 -14.4
      31   13.9  -2.8  -3.3 -15.0

[365 rows x 4 columns]

In [428]:
series1 = df_grouped['max','T_max']
series1.reset_index(inplace=True,drop=True)
pd.date_range(start='1999-01-01',end='1999-12-31',periods=1)
series1 = series1.to_frame()
pd.date_range(start='1999-01-01',end='1999-12-31',periods=1).tolist()

[Timestamp('1999-01-01 00:00:00')]

In [391]:
plt.figure(figsize=(10,5))
plt.plot(df_grouped['max','T_max'],'-',linewidth=.15,color='red')
#plt.plot(df_grouped['T_min'],'-', linewidth=.15, color='blue')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

ValueError: setting an array element with a sequence.

In [323]:
plt.gca().fill_between(df_lineplot.index,df_lineplot['T_min'],df_lineplot['T_max'],alpha =.2,color = '#A7F158')
#specify x-axis (index in this case), and the two curves

In [328]:
plt.title('Record High and Low Temperature Observations')
plt.xticks(ticks=pd.date_range(start='1999-01-01',end='1999-12-31',periods=5))

([<matplotlib.axis.XTick at 0x1aeb41d54c0>,
  <matplotlib.axis.XTick at 0x1aeb41d57c0>,
  <matplotlib.axis.XTick at 0x1aeb3488490>,
  <matplotlib.axis.XTick at 0x1aeb34caaf0>,
  <matplotlib.axis.XTick at 0x1aeb34d10a0>],
 [Text(12784.0, 0, '2005-01-01'),
  Text(13696.75, 0, '2007-07-02'),
  Text(14609.5, 0, '2009-12-31'),
  Text(15522.25, 0, '2012-07-01'),
  Text(16435.0, 0, '2014-12-31')])

In [325]:
plt.gca().margins(0.0) #stretch to the ends
plt.ylabel('Temperature $[°C]$')
plt.xlabel('Measurement Date')

Text(0.5, 25.722222222222214, 'Measurement Date')

In [326]:
df_2015 = df_max.loc['2015']
df_2015

            T_max  T_min
Date
2015-01-01    1.1  -13.3
2015-01-02    3.9  -12.2
2015-01-03    3.9   -6.7
2015-01-04    4.4   -8.8
2015-01-05    2.8  -15.5
...           ...    ...
2015-12-27    8.3   -0.6
2015-12-28    6.1   -3.9
2015-12-29   10.0   -3.9
2015-12-30    6.7   -2.2
2015-12-31    1.7   -5.6

[365 rows x 2 columns]

In [327]:
year = pd.date_range(start='1-jan', end='31-dec')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-01 00:00:00