In [86]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_rel

NHL = pd.read_csv('assets/cleaned_NHL.csv')
NBA = pd.read_csv('assets/cleaned_NBA.csv')
NFL = pd.read_csv('assets/cleaned_NFL.csv')
MLB = pd.read_csv('assets/cleaned_MLB.csv')

big4 = ['MLB', 'NBA', 'NHL', 'NFL']
big4_v = [NBA, MLB, NHL, NFL]

for df in big4_v:
    df.set_index('City', inplace = True)

NHL.head()

          Population   W   L          Team  W/L Ratio  Avg. Ratio
City
Boston       4794447  50  20        Bruins   0.714286    0.714286
Buffalo      1132804  25  45        Sabres   0.357143    0.357143
Calgary      1392609  37  35        Flames   0.513889    0.513889
Chicago      9512999  33  39    Blackhawks   0.458333    0.458333
Columbus     2041520  45  30  Blue Jackets   0.600000    0.600000

In [87]:
NHL[NHL.index.isin(MLB.index)]

               Population   W   L         Team  W/L Ratio  Avg. Ratio
City
Boston            4794447  50  20       Bruins   0.714286    0.714286
Chicago           9512999  33  39   Blackhawks   0.458333    0.458333
Dallas            7233323  42  32        Stars   0.567568    0.567568
Denver            2853077  43  30    Avalanche   0.589041    0.589041
Detroit           4297617  30  39    Red Wings   0.434783    0.434783
Los Angeles      13310447  44  25        Ducks   0.637681    0.622895
Los Angeles      13310447  45  29        Kings   0.608108    0.622895
Miami             6066387  44  30     Panthers   0.594595    0.594595
Minneapolis       3551036  45  26         Wild   0.633803    0.633803
New York         20153634  44  29       Devils   0.602740    0.518201
New York         20153634  34  39      Rangers   0.465753    0.518201
New York         20153634  35  37    Islanders   0.486111    0.518201
Philadelphia      6070500  42  26       Flyers   0.617647    0.617647
Phoenix           4661537  29  41      Coyotes   0.414286    0.414286
Pittsburgh        2342299  47  29     Penguins   0.618421    0.618421
San Francisco     6657982  45  27       Sharks   0.625000    0.625000
St. Louis         2807002  44  32        Blues   0.578947    0.578947
Tampa Bay         3032171  54  23    Lightning   0.701299    0.701299
Toronto           5928040  49  26  Maple Leafs   0.653333    0.653333
Washington        6131977  49  26     Capitals   0.653333    0.653333

In [88]:
combined_nhl_mlb = NHL.merge(MLB, left_index = True, right_index = True)
combined_nhl_mlb = combined_nhl_mlb.groupby('City').apply(np.mean)
combined_nhl_mlb

               Population_x        W_x   L_x  ...   L_y  W/L Ratio_y  Avg. Ratio_y
City                                          ...
Boston            4794447.0  50.000000  20.0  ...  54.0     0.666667      0.666667
Chicago           9512999.0  33.000000  39.0  ...  84.0     0.482769      0.482769
Dallas            7233323.0  42.000000  32.0  ...  95.0     0.413580      0.413580
Denver            2853077.0  43.000000  30.0  ...  72.0     0.558282      0.558282
Detroit           4297617.0  30.000000  39.0  ...  98.0     0.395062      0.395062
Los Angeles      13310447.0  44.500000  27.0  ...  76.5     0.529122      0.529122
Miami             6066387.0  44.000000  30.0  ...  98.0     0.391304      0.391304
Minneapolis       3551036.0  45.000000  26.0  ...  84.0     0.481481      0.481481
New York         20153634.0  37.666667  35.0  ...  73.5     0.546296      0.546296
Philadelphia      6070500.0  42.000000  26.0  ...  82.0     0.493827      0.493827
Phoenix           4661537.0  29.000000  41.0  ...  80.0     0.506173      0.506173
Pittsburgh        2342299.0  47.000000  29.0  ...  79.0     0.509317      0.509317
San Francisco     6657982.0  45.000000  27.0  ...  77.0     0.524691      0.524691
St. Louis         2807002.0  44.000000  32.0  ...  74.0     0.543210      0.543210
Tampa Bay         3032171.0  54.000000  23.0  ...  72.0     0.555556      0.555556
Toronto           5928040.0  49.000000  26.0  ...  89.0     0.450617      0.450617
Washington        6131977.0  49.000000  26.0  ...  80.0     0.506173      0.506173

[17 rows x 10 columns]

In [90]:
p_val_nhl_mlb = ttest_rel(combined_nhl_mlb['Avg. Ratio_x'], combined_nhl_mlb['Avg. Ratio_y'])[1]

0.0007078407880400678