In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import pearsonr
import re

nhl_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

big4 = 'MLB'

In [2]:
sports = ['Metropolitan area', 'Population', 'NFL','MLB','NBA','NHL']
cities.columns = sports #rename the cities database columns
def cleaning(item):
    #print('working on function 1, string: {}'.format(item))
    s = re.sub(r'([a-z])([A-Z])', r'\1 \2', item) #separate two words by the capital letter e.g ColdCase Cold Case
    return s

def cleaning_2(item):
    #print('working on function 2, string: {}'.format(item))
    s = re.sub('\[.*\]', '', item) #remove the squared bracket
    #s = re.sub(r'([a-z])([A-Z])', r'\1 \2', item)
    return s

def cleaning_3(item): #clean the ends
    #print('working on function 3, string: {}'.format(item))
    item.strip()
    s = re.sub('\**\s\([0-9]*\)$', '', item)
    return s


def apply_cleaning(clen_fun, dataframe, columns): #applies all the cleaning functions on every col  
    for fun in clen_fun:
        for col in columns:
            dataframe[col]  = dataframe[col].astype('string').apply(fun)
    return dataframe

functions = [cleaning, cleaning_2, cleaning_3]

apply_cleaning(functions, cities, sports) # clean cities
cities.sort_values('Metropolitan area', axis = 0, inplace=True) #sort cities by their name
cities.reset_index(drop=True,inplace=True)
cities.head()

  Metropolitan area Population       NFL      MLB      NBA     NHL
0           Atlanta    5789700   Falcons   Braves    Hawks
1         Baltimore    2798886    Ravens  Orioles                —
2            Boston    4794447  Patriots  Red Sox  Celtics  Bruins
3           Buffalo    1132804     Bills                    Sabres
4           Calgary    1392609         —        —        —  Flames

In [3]:
city_replace = {'Dallas–Fort Worth':'Dallas','Miami–Fort Lauderdale':'Miami','Minneapolis–Saint Paul':'Minneapolis','New York City':'New York','San Francisco Bay Area':'San Francisco','Tampa Bay Area':'Tampa Bay','Washington, D.C.':'Washington','':'None','—':'None','— ':'None'}
#row above does some name cleaning for the cities
cities.replace(to_replace=city_replace,value = None, inplace=True)
cities #this is the cleaned database for cities and their teams

,Metropolitan area,Population,NFL,MLB,NBA,NHL
0,Atlanta,5789700,Falcons,Braves,Hawks,None
1,Baltimore,2798886,Ravens,Orioles,None,None
2,Boston,4794447,Patriots,Red Sox,Celtics,Bruins
3,Buffalo,1132804,Bills,None,None,Sabres
4,Calgary,1392609,None,None,None,Flames
5,Charlotte,2474314,Panthers,None,Hornets,None
6,Chicago,9512999,Bears,Cubs White Sox,Bulls,Blackhawks
7,Cincinnati,2165139,Bengals,Reds,None,None
8,Cleveland,2055612,Browns,Indians,Cavaliers,None
9,Columbus,2041520,None,None,None,Blue Jackets
10,Dallas,7233323,Cowboys,Rangers,Mavericks,Stars
11,Denver,2853077,Broncos,Rockies,Nuggets,Avalanche
12,Detroit,4297617,Lions,Tigers,Pistons,Red Wings
13,Edmonton,1321426,None,None,None,Oilers
14,Green Bay,318236,Packers,None,None,None
15,Hamilton,747545,None,None,None,None
16,Houston,6772470,Texans,Astros,Rockets,None
17,Indianapolis,2004230,Colts,None,Pacers,None
18,Jacksonville,1478212,Jaguars,None,None,None
19,Kansas City,2104509,Chiefs,Royals,None,None
20,Las Vegas,2155664,None,None,None,Golden Knights
21,Los Angeles,13310447,Rams Chargers,Dodgers Angels,Lakers Clippers,Kings Ducks
22,Memphis,1342842,None,None,Grizzlies,None
23,Miami,6066387,Dolphins,Marlins,Heat,Panthers
24,Milwaukee,1572482,None,Brewers,Bucks,None
25,Minneapolis,3551036,Vikings,Twins,Timberwolves,Wild
26,Montreal,4098927,None,None,None,Canadiens
27,Nashville,1865298,Titans,None,None,Predators
28,New Orleans,1268883,Saints,None,Pelicans,None
29,New York,20153634,Giants Jets,Yankees Mets,Knicks Nets,Rangers Islanders Devils
30,Oklahoma City,1373211,None,None,Thunder,None
31,Orlando,2441257,None,None,Magic,None
32,Ottawa,1323783,None,None,None,Senators
33,Philadelphia,6070500,Eagles,Phillies,76ers,Flyers
34,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
35,Pittsburgh,2342299,Steelers,Pirates,None,Penguins
36,Portland,2424955,None,None,Trail Blazers,None
37,Raleigh,1302946,None,None,None,Hurricanes
38,Regina,236481,None,None,None,None
39,Sacramento,2296418,None,None,Kings,None
40,Salt Lake City,1186187,None,None,Jazz,None
41,San Antonio,2429609,None,None,Spurs,None
42,San Diego,3317749,None,Padres,None,None
43,San Francisco,6657982,49ers Raiders,Giants Athletics,Warriors,Sharks
44,Seattle,3798902,Seahawks,Mariners,None,None
45,St. Louis,2807002,None,Cardinals,None,Blues
46,Tampa Bay,3032171,Buccaneers,Rays,None,Lightning
47,Toronto,5928040,None,Blue Jays,Raptors,Maple Leafs
48,Vancouver,2463431,None,None,None,Canucks
49,Washington,6131977,Redskins,Nationals,Wizards,Capitals
50,Winnipeg,778489,None,None,None,Jets

In [4]:
nhl_df = nhl_df[nhl_df['year'] == 2018] #take only year 2018
#nhl_df.drop([0,9,18,26], axis = 0, inplace= True)
nhl_df = nhl_df[['team','W','L',]] #take only the important stuff
print(nhl_df.shape)
replace_nhl = {'Arizona':'Phoenix','Colorado':'Denver','Minnesota':'Minneapolis','Oakland':'San Francisco','Texas':'Dallas','Toronto Blue':'Toronto','Jays':'Blue Jays'}

(30, 3)

In [5]:
apply_cleaning(functions, nhl_df, list(nhl_df.columns)) #clean the database

                     team    W    L
0          Boston Red Sox  108   54
1        New York Yankees  100   62
2          Tampa Bay Rays   90   72
3       Toronto Blue Jays   73   89
4       Baltimore Orioles   47  115
5       Cleveland Indians   91   71
6         Minnesota Twins   78   84
7          Detroit Tigers   64   98
8       Chicago White Sox   62  100
9      Kansas City Royals   58  104
10         Houston Astros  103   59
11      Oakland Athletics   97   65
12       Seattle Mariners   89   73
13     Los Angeles Angels   80   82
14          Texas Rangers   67   95
15         Atlanta Braves   90   72
16   Washington Nationals   82   80
17  Philadelphia Phillies   80   82
18          New York Mets   77   85
19          Miami Marlins   63   98
20      Milwaukee Brewers   96   67
21           Chicago Cubs   95   68
22    St. Louis Cardinals   88   74
23     Pittsburgh Pirates   82   79
24        Cincinnati Reds   67   95
25    Los Angeles Dodgers   92   71
26       Colorado Rockies   91   72
27   Arizona Diamondbacks   82   80
28   San Francisco Giants   73   89
29       San Diego Padres   66   96

In [6]:
def splitname(row):
    if 'Red Sox' in row['team']:
        row['Team'] = 'Red Sox'
        row['City'] = 'Boston'
        return row
    if 'White Sox' in row['team']:
        row['Team']  = 'White Sox'
        row['City'] = 'Chicago'
        return row
    else:
        row['Team']=row['team'].split(" ")[-1]
        s=row['team'].split(" ")[:-1]
        row['City']=' '.join(map(str, s)) #make it a single string instead of a list
        return row

nhl_df=nhl_df.apply(splitname, axis='columns')  #separe teams from cities
del(nhl_df['team'])
nhl_df

      W    L          Team           City
0   108   54       Red Sox         Boston
1   100   62       Yankees       New York
2    90   72          Rays      Tampa Bay
3    73   89          Jays   Toronto Blue
4    47  115       Orioles      Baltimore
5    91   71       Indians      Cleveland
6    78   84         Twins      Minnesota
7    64   98        Tigers        Detroit
8    62  100     White Sox        Chicago
9    58  104        Royals    Kansas City
10  103   59        Astros        Houston
11   97   65     Athletics        Oakland
12   89   73      Mariners        Seattle
13   80   82        Angels    Los Angeles
14   67   95       Rangers          Texas
15   90   72        Braves        Atlanta
16   82   80     Nationals     Washington
17   80   82      Phillies   Philadelphia
18   77   85          Mets       New York
19   63   98       Marlins          Miami
20   96   67       Brewers      Milwaukee
21   95   68          Cubs        Chicago
22   88   74     Cardinals      St. Louis
23   82   79       Pirates     Pittsburgh
24   67   95          Reds     Cincinnati
25   92   71       Dodgers    Los Angeles
26   91   72       Rockies       Colorado
27   82   80  Diamondbacks        Arizona
28   73   89        Giants  San Francisco
29   66   96        Padres      San Diego

In [7]:
nhl_df.replace(to_replace=replace_nhl,value=None,inplace=True) #clean "special" teams' names
nhl_df = nhl_df.set_index('City')
nhl_df.sort_values('City', axis=0, inplace=True)
nhl_df

                 W    L          Team
City
Atlanta         90   72        Braves
Baltimore       47  115       Orioles
Boston         108   54       Red Sox
Chicago         95   68          Cubs
Chicago         62  100     White Sox
Cincinnati      67   95          Reds
Cleveland       91   71       Indians
Dallas          67   95       Rangers
Denver          91   72       Rockies
Detroit         64   98        Tigers
Houston        103   59        Astros
Kansas City     58  104        Royals
Los Angeles     92   71       Dodgers
Los Angeles     80   82        Angels
Miami           63   98       Marlins
Milwaukee       96   67       Brewers
Minneapolis     78   84         Twins
New York       100   62       Yankees
New York        77   85          Mets
Philadelphia    80   82      Phillies
Phoenix         82   80  Diamondbacks
Pittsburgh      82   79       Pirates
San Diego       66   96        Padres
San Francisco   73   89        Giants
San Francisco   97   65     Athletics
Seattle         89   73      Mariners
St. Louis       88   74     Cardinals
Tampa Bay       90   72          Rays
Toronto         73   89     Blue Jays
Washington      82   80     Nationals

In [8]:
cities_nhl = cities[cities[big4] != 'None'] #take all the cities that have a "NBA" team
cities_nhl = cities_nhl[['Metropolitan area','Population',big4]] # filter only interesting parameters
cities_nhl = cities_nhl.set_index('Metropolitan area') 
cities_nhl.index.rename('City', inplace=True) 
print('nr of cities: {}, nr of {} teams: {}'.format(cities_nhl.shape[0],big4,nhl_df.shape[0]))
cities_nhl.head()

nr of cities: 26, nr of MLB teams: 30

           Population             MLB
City
Atlanta       5789700          Braves
Baltimore     2798886         Orioles
Boston        4794447         Red Sox
Chicago       9512999  Cubs White Sox
Cincinnati    2165139            Reds

### This passage here is to check for manual cleaning

In [9]:
#cities_nhl[~cities_nhl.index.isin(nhl_df.index)] #show cities that are not in the NBA dataframe
#nhl_df[~nhl_df.index.isin(cities_nhl.index)] #Check what cities are not matching the names

In [10]:
cities_nhl = cities_nhl.merge(nhl_df, left_index=True, right_index=True)
cities_nhl.drop(labels=big4, axis = 1, inplace=True)
cities_nhl['W/L Ratio'] = cities_nhl['W'].astype('float64')/(cities_nhl['L'].astype('float64') + cities_nhl['W'].astype('float64'))
print(cities_nhl.shape)
cities_nhl

(30, 5)

              Population    W    L          Team  W/L Ratio
City
Atlanta          5789700   90   72        Braves   0.555556
Baltimore        2798886   47  115       Orioles   0.290123
Boston           4794447  108   54       Red Sox   0.666667
Chicago          9512999   95   68          Cubs   0.582822
Chicago          9512999   62  100     White Sox   0.382716
Cincinnati       2165139   67   95          Reds   0.413580
Cleveland        2055612   91   71       Indians   0.561728
Dallas           7233323   67   95       Rangers   0.413580
Denver           2853077   91   72       Rockies   0.558282
Detroit          4297617   64   98        Tigers   0.395062
Houston          6772470  103   59        Astros   0.635802
Kansas City      2104509   58  104        Royals   0.358025
Los Angeles     13310447   92   71       Dodgers   0.564417
Los Angeles     13310447   80   82        Angels   0.493827
Miami            6066387   63   98       Marlins   0.391304
Milwaukee        1572482   96   67       Brewers   0.588957
Minneapolis      3551036   78   84         Twins   0.481481
New York        20153634  100   62       Yankees   0.617284
New York        20153634   77   85          Mets   0.475309
Philadelphia     6070500   80   82      Phillies   0.493827
Phoenix          4661537   82   80  Diamondbacks   0.506173
Pittsburgh       2342299   82   79       Pirates   0.509317
San Diego        3317749   66   96        Padres   0.407407
San Francisco    6657982   73   89        Giants   0.450617
San Francisco    6657982   97   65     Athletics   0.598765
Seattle          3798902   89   73      Mariners   0.549383
St. Louis        2807002   88   74     Cardinals   0.543210
Tampa Bay        3032171   90   72          Rays   0.555556
Toronto          5928040   73   89     Blue Jays   0.450617
Washington       6131977   82   80     Nationals   0.506173

In [11]:
cities_nhl['Avg. Ratio'] = cities_nhl.groupby(cities_nhl.index).agg(np.mean)
cities_nhl['Population'] = cities_nhl['Population'].astype('int64')
corr1 = cities_nhl['Population'].corr(cities_nhl['Avg. Ratio'],method='pearson')
print('answer to question 1: {}'.format(corr1))

answer to question 1: 0.19149307167656843

In [12]:
ans_df = cities_nhl[['Population','Avg. Ratio']]
ans_df.drop_duplicates(inplace=True)

In [13]:
population_by_region = list(ans_df['Population'])
win_loss_by_region = list(ans_df['Avg. Ratio'])

In [14]:
stats.pearsonr(population_by_region, win_loss_by_region)[0]

0.15027698302669307

In [15]:
population_by_region

[5789700,
 2798886,
 4794447,
 9512999,
 2165139,
 2055612,
 7233323,
 2853077,
 4297617,
 6772470,
 2104509,
 13310447,
 6066387,
 1572482,
 3551036,
 20153634,
 6070500,
 4661537,
 2342299,
 3317749,
 6657982,
 3798902,
 2807002,
 3032171,
 5928040,
 6131977]

In [16]:
len(win_loss_by_region)

26

In [17]:
win_loss_by_region

[0.5555555555555556,
 0.29012345679012347,
 0.6666666666666666,
 0.48276906763614325,
 0.41358024691358025,
 0.5617283950617284,
 0.41358024691358025,
 0.558282208588957,
 0.3950617283950617,
 0.6358024691358025,
 0.35802469135802467,
 0.5291221692039687,
 0.391304347826087,
 0.588957055214724,
 0.48148148148148145,
 0.5462962962962963,
 0.49382716049382713,
 0.5061728395061729,
 0.5093167701863354,
 0.4074074074074074,
 0.5246913580246914,
 0.5493827160493827,
 0.5432098765432098,
 0.5555555555555556,
 0.4506172839506173,
 0.5061728395061729]

In [18]:
cities_nhl.to_csv('assets/cleaned_'+big4+'.csv')