In [1052]:
%matplotlib widget

In [1053]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import matplotlib.cm as cm
import matplotlib.colors as mpcol
import matplotlib as mpl
from numpy.random import rand


np.random.seed(12345)

df = pd.DataFrame([np.random.normal(32000,200000,3650), 
                   np.random.normal(43000,100000,3650), 
                   np.random.normal(43500,140000,3650), 
                   np.random.normal(48000,70000,3650)], 
                  index=[1992,1993,1994,1995])

In [1054]:
df[['mean','std']]   =df.agg([np.mean,np.std], axis= 1)

def conf_int95(item):
    avg =  item['mean']
    std_dev = item['std']
    pop = 3650
    cl = 1.96 + std_dev/(pop**0.5)

    return (cl)

df['conf_int'] =  df.apply(conf_int95, axis  =1)
df_distr = df[df.columns[:-3]]
df_distr

,0,1,2,3,4,5,6,7,8,9,...,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649
1992,-8941.531897,127788.667612,-71887.743011,-79146.060869,425156.114501,310681.166595,50581.575349,88349.230566,185804.513522,281286.947277,...,171938.760289,150650.759924,203663.976475,-377877.158072,-197214.093861,24185.008589,-56826.729535,-67319.766489,113377.299342,-4494.878538
1993,-51896.094813,198350.518755,-123518.252821,-129916.759685,216119.147314,49845.883728,149135.648505,62807.672113,23365.577348,-109686.264981,...,-44566.520071,101032.122475,117648.199945,160475.622607,-13759.888342,-37333.493572,103019.841174,179746.127403,13455.493990,34442.898855
1994,152336.932066,192947.128056,389950.263156,-93006.152024,100818.575896,5529.230706,-32989.370488,223942.967178,-66721.580898,47826.269111,...,165085.806360,74735.174090,107329.726875,199250.734156,-36792.202754,-71861.846997,26375.113219,-29328.078384,65858.761714,-91542.001049
1995,-69708.439062,-13289.977022,-30178.390991,55052.181256,152883.621657,12930.835194,63700.461932,64148.489835,-29316.268556,59645.677367,...,-13901.388118,50173.686673,53965.990717,4128.990173,72202.595138,39937.199964,139472.114293,59386.186379,73362.229590,28705.082908

In [1055]:
df_descr  =  df[df.columns[-3:]]
df_descr

              mean            std     conf_int
1992  33312.107476  200630.901553  3322.826311
1993  41861.859541   98398.356203  1630.661180
1994  39493.304941  140369.925240  2325.379534
1995  47743.550969   69781.185469  1156.986400

In [1056]:
ax =  plt.subplot()
BarChart = ax.bar(df.index,df['mean'],yerr = df['conf_int'], picker = 10,)
ax.set_xticks(df.index, minor=False)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [1057]:
y_comp = 40000
cmap = cm.get_cmap('seismic',3)

In [1058]:
colorlist = []
for i in range(4):
    stat, p  =stats.ttest_1samp(df_distr.iloc[i], y_comp,  alternative='less')
    color = cmap(p)
    colorlist.append(color)
z = 0
for Bar in BarChart:
    Bar.set_color(colorlist[z])
    Bar.set_edgecolor(mpcol.to_rgba('black'))
    z = z + 1

In [1060]:
ax.set_title('Probability that the average is less than {}'.format(y_comp))
ax.axhline(y=40000)

In [1051]:
def on_pick(event):
    line = event.artist
    
    print('on pick line:', line)


#fig.canvas.mpl_connect('pick_event', on_click)