In [72]:
%matplotlib widget

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

np.random.seed(12345)

df = pd.DataFrame([np.random.normal(32000,200000,3650), 
                   np.random.normal(43000,100000,3650), 
                   np.random.normal(43500,140000,3650), 
                   np.random.normal(48000,70000,3650)], 
                  index=[1992,1993,1994,1995])

In [74]:
df = df.agg([np.mean,np.std], axis= 1)

def conf_int95(item):
    avg =  item['mean']
    std_dev = item['std']
    pop = 3650
    cl = 1.96 + std_dev/(pop**0.5)

    return (cl)

df['conf_int'] =  df.apply(conf_int95, axis  =1)
df

              mean            std     conf_int
1992  33312.107476  200630.901553  3322.826311
1993  41861.859541   98398.356203  1630.661180
1994  39493.304941  140369.925240  2325.379534
1995  47743.550969   69781.185469  1156.986400

In [79]:
plt.figure()
plt.bar(df.index,df['mean'],yerr = df['conf_int'])
x = plt.gca().xaxis
x.set_labels = [1992,1993,1994,1995]

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦